:root {
    --primary-color: #ffffff;
    --secondary-color: rgb(68, 65, 58);
    --accent1-color: rgb(25, 25, 190);
    --accent2-color: gray;
    --body-font: 'Arial', sans-serif;
    --heading-font: 'Georgia', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:var(--body-font);
    color: var(--primary-color);
    background-color: steelblue;
    text-align: center;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    display: grid;
    background-color: var(--accent2-color);
}

article {
    grid-column: 1/3;
    margin: 16px;
    padding: 8px;
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
    border-radius: 8px;
}

nav {
    grid-column: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

nav a {
    text-decoration: none;
    color: rgb(240, 219, 29);
    background-color: rgb(114, 15, 15);
    font-size: 2rem;
    border: 10px solid rgb(114, 15, 15);
    padding: 1px;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 10px;
    width: 96%;
    color: white;
    background-color: var(--accent1-color);
    opacity: 0.8;
}

.hero article img {
    float: right;
    width: 100px;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    margin: 16px;
    background-color: rgb(44, 33, 33);
}

.history img {
    width: 200px;
    height: auto;
    border: 4px solid var(--primary-color);
    box-shadow: 0px 0px 10px #333;
    margin-left: 30px;
}

.adventure {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 8px;
    margin: 0 auto;
}

h2 {
    background-color: var(--accent1-color);
}

figcaption {
    font-size: 0.8rem;
    color: var(--primary-color);
    margin-top: 4px;
    padding: 4px;
    background-color: rgb(48, 38, 38);
    border : 2px solid var(--primary-color);
}

footer {
    background-color: white;
    border-top: 4px solid var(--primary-color);
    padding: 8px;
    font-size: 0.8rem;
    color: black;
    text-align: center;
    width: 840px;
    margin-top: 24px;
    padding-left: 100px;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0;
}

.map iframe {
    border: 8px solid black;
}

.contact-form {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    background-color: var(--secondary-color);
    padding: 8px;
}

.contact-form input[type="text"], [type="email"], textarea {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
}

.contact-form input[type="checkbox"] {
    font-size: .5rem;
}

.contact-form button[type="submit"] {
    font-size: 1.2rem;
}

.employees {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 16px 0;
}

.company-info {
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    padding-bottom: 40px;
}

.company-title {
    background-color: var(--secondary-color);
}

.homepage-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 16px;
    border: 4px solid var(--primary-color);
    border-radius: 8px;
}

.redirect a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 16px;
    border-radius: 8px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: var(--secondary-color);
    padding: 16px;
    border: 4px solid var(--primary-color);
    border-radius: 8px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: start;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    border: 4px solid var(--primary-color);
}

.trip-offerings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    background-color: var(--secondary-color);
    padding: 16px;
    border: 4px solid var(--primary-color);
}

.contact-us a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    padding: 16px;
    border-radius: 8px;
}

.trip-pricing {
    font-size: 1.5rem;
    background-color: var(--secondary-color);
    padding: 16px;
    border: 4px solid var(--primary-color);
    margin-top: 16px;
}

.trip-pricing h3 {
    font-size: 2rem;
    margin-bottom: 8px;
}

.trip-pricing table {
    width: 100%;
    border-collapse: collapse;
}

.trip-pricing tr, th, td {
    border: 2px solid var(--primary-color);
    padding: 8px;
    text-align: left;
}