:root {
    --default-bg-color: #f0f0f0;
    --default-txt-color: black;
    --default-padding: 1rem;
    --default-margin: 1rem;
    --default-border: 1px solid black;
}

nav {
    background-color: #bdbdbd;
    padding: var(--default-padding);
}

nav a {
    color: var(--main-text-color);
    padding: var(--default-padding);
    display: block;
}

h1 {
    color: var(--main-text-color);
}

img {
    width: 150px;
    height: auto;
    border: var(--default-border);
    padding: var(--default-padding);
    box-shadow: 0px 0px 10px #333;
}

main {
    max-width: 840px;
}

main img {
    max-width: 150px;
    height: auto;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--default-margin);
    border: var(--default-border);
    padding: var(--default-padding);
    background-color: var(--default-bg-color);
    color: var(--main-text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 20px;
    border-top: var(--default-border);
    text-align: center;
}