:root {
    --default-bg-color: #f0f0f0;
    --default-txt-color: black;
    --default-padding: 1rem;
    --default-margin: 1rem;
    --default-border: 1px solid black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

nav {
    background-color: #353030;
    padding: var(--default-padding);
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

nav a {
    display:block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(139, 139, 211);
    padding: var(--default-padding);
    display: block;
}

h1 {
    color: var(--main-text-color);
    border-bottom: #333 2px solid;
}

img {
    width: 150px;
    height: auto;
    border: var(--default-border);
    padding: var(--default-padding);
    box-shadow: 0px 0px 10px #333;
}

main img {
    max-width: 150px;
    height: auto;
    float: right;
}

p {
    padding: 0;
}

aside {
    position: relative;
    width: 20rem;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    right: 42%;
}

footer {
    margin-top: 20px;
    border-top: var(--default-border);
    text-align: center;
}

.box {
    margin: var(--default-margin);
    border: var(--default-border);
    padding: var(--default-padding);
    background-color: var(--default-bg-color);
    color: var(--main-text-color);
}